

<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <br/>
        <br/>
        <br/>
        	<h2 style="font-size:45px; color:white; text-shadow: 0px 2px 2px rgba(0,0,0,0.6);" class="text-center">Sign in to the CV machine <span style="color:rgb(240, 96, 83)">of the future</span></h2><br/><br/>
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="panel panel-default" style="margin:0 auto;">
			                <div class="panel-heading text-center"> <strong >Login to view your resume</strong>

			                </div>
			  <div class="panel-body">              
				  <div class="form-inputs text-center">
				    <%= f.input :email, required: false, autofocus: true, style: "text-align:center" %>
                    <br/>
				    <%= f.input :password, required: false %>
                    <br/>
				  </div>

				  <div class="form-actions">
				    <%= f.button :submit, "Sign in", class:"btn btn-success", style:"margin:0 auto; display:block; width:100%;" %>

				  </div>
				<% end %>
                <br/>
                 <div class="text-center">
                <%= link_to("Don't have an account? Sign up for free!", new_user_registration_path, style:"color:gray;") %>
                </div>
				</div>

			</div><br/>

		</div>
</div>

<!--
<div class="container-fluid vcenter">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Login to view your resume</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="login" class="col-sm-3 control-label">Login</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="login" placeholder="Login" required="" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label class="">
                      <input class="" type="checkbox">Remember me</label>
                  </div>
                </div>
              </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">{{login_text}}</div>
            </div>
        </div>
    </div>
</div>-->


