.nested-fields
  = f.input :description
  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  = f.input :linked_in_url
  = f.input :twitter_url
  = link_to_remove_association "remove reference", f, class: "btn btn-default"