.nested-fields
  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  = f.input :email
  = f.input :description
  -# = f.input :twitter_url
  -# = f.input :linked_in_url
  = link_to_remove_association "Remove Reference", f, class: "btn btn-default remove"