<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<div class ="card jumbotron", style = "width:300px; margin:0 auto;">
<h3>
<%= @resume.first_name %>  <%= @resume.middle_name %> <%= @resume.last_name %>
</h3>
<p>
<%= @resume.email %>
<br/>
<%= @resume.phone %>
<br/>
<%= @resume.website %>
<br/>
</p>
</div>
<div class ="card jumbotron", style = "width:300px; margin:0 auto;">

<%=image_tag @qr %>

<br/>
</p>
</div>