<% if @resume.theme == 1 %>
<%= stylesheet_link_tag    "cvthemes/helvetica", media: "all" %>
<%els if @resume.theme == 2 %>
<%= stylesheet_link_tag    "cvthemes/opensans", media: "all" %>
<%els if @resume.theme ==3 %>
<%= stylesheet_link_tag    "cvthemes/print", media: "all" %>
<%end%>

<div class="container">
	<div class="jumbotron resume-jumbo">
		<h1>
			<%= @resume.first_name %>  <%= @resume.middle_name %> <%= @resume.last_name %>
		</h1>	
		<div class="pull-right">
			<p>
			<%= @resume.email %> &middot; <%= @resume.phone %> &middot; <%= @resume.website %>
			<br/>
			</p>	
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-6">	
		<h2>
			Work experience
		</h2>
		<hr>
			<p>
				<% @resume.work_experiences.each do |w| %>
				<strong><%= w.position %></strong> at <%= w.company %>
				<br/>
				<%= w.start_duration %> - <%= w.end_duration %>
				<br/>
				<%= w.description %>
				<br/>
				<br/>
				<%end%>
			</p>
		</div>

		<div class="col-md-6">
		<h2>
			Education Information
		</h2>
		<hr>
		<p>
			<% @resume.educations.each do |w| %>
			<strong><%= w.degree %></strong> at <%= w.college %>
			<br/>
			<%= w.start_duration %> - <%= w.end_duration %>
			<br/>
			<%= w.description %>
			<br/>
			<br/>
			<%end%>
		</p>	
		</div>
	</div>	

	</br>
	<h2>
		Skills and Qualifications
	</h2>
	<hr>
	<% @resume.skills.each do |s| %>
	<p>
	<%= s.description %>
	</p>
	<%end%>
	<br/>


<h2>
References
</h2>
<p>
<% @resume.references.each do |w| %>
<%= w.first_name %>
<%= w.middle_name %>
<%= w.last_name %>
<br/>
<%= w.linked_in_url %>
<br/>
<%= w.twitter_url %>
<br/>
<%= w.description %>
<br/>
<br/>
<%end%>
</p>

<%= render 'proceed_to_card' %>
