<% if @resume.theme == 1 %>
<%= stylesheet_link_tag    "cvthemes/helvetica", media: "all" %>
<%els if @resume.theme == 2 %>
<%= stylesheet_link_tag    "cvthemes/opensans", media: "all" %>
<%els if @resume.theme ==3 %>
<%= stylesheet_link_tag    "cvthemes/print", media: "all" %>
<%end%>

<div class="container">
	<div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
           
            <div id="photo">
              <%= image_tag @gravatar %>
            </div>
            <div id="text-header">
              <h1>Hello,<br> my name is <span><%= @resume.first_name %> <%= @resume.middle_name %> <%= @resume.last_name %></span></h1>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-7">
          <!-- ABOUT ME -->
          <div class="box">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, non, dolorem, cumque distinctio magni quam expedita velit laborum sunt amet facere tempora ut fuga aliquam ad asperiores voluptatem dolorum! Quasi.</p>
          </div>
          <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <% @resume.educations.each do |w| %>	
              <li>
                <div class="year pull-left">1990</div>
                <div class="description pull-right">
                  <h3><%= w.degree %> at <%= w.college %></h3>
                  <p><%= w.start_duration %> - <%= w.end_duration %>
					<br/>
					<%= w.description %>
				  </p>
                </div>
              </li>
              <%end%>
            </ul>
          </div>
          <!-- end education-->

          <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>
            <% @resume.work_experiences.each do |w| %>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><%= w.company %></div>
                <div class="year"><%= w.start_duration %> - <%= w.end_duration %></div>
              </div>
              <div class="col-xs-9">
                <div class="profession"><%= w.position %></div>
                <div class="description"> <%= w.description %> </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <!-- end experiences -->

        <div class="col-xs-12 col-sm-5">
          <!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right"><%= @resume.phone %></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right"><%= @resume.email %></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
              <div class="title only pull-right"><a href="https://twitter.com/WordPress">Twitter</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-facebook fa-fw"></span></div>
              <div class="title only pull-right"><a href="https://in.linkedin.com/abhinavchhikara">LinkedIn</a></div>
            </div>
          </div>

          <!-- SKILLS -->
          <div class="box">
            <h2>Skills</h2>
            <div class="skills">
              <% @resume.skills.each do |s| %>	
              <div class="item-skills" data-percent="1.00"><%= s.description %></div>
              <%end%>
            </div>
          </div>

          
    </div>
    <div class="box">
          	<h2>References</h2>
			<p>
				<% @resume.references.each do |w| %>
        <% url = "http://vibeapp.co/api/v1/initial_data/?api_key=ed9e62508ef88173d937a1e2284cce50&email=mercurialmercenary@gmail.com";
        resp = ::Net::HTTP.get_response(URI.parse(url));
        data = resp.body;
        @n = JSON.parse(data) %>
				<b><%= w.first_name %>
				<%= w.middle_name %>
				<%= w.last_name %>
        </b>
				<br/>
				<%= w.linked_in_url %>
				<br/>
				<%= w.twitter_url %>
				<br/>
				<%= w.description %>
				<br/>
				<br/>
				<%end%>
			</p>
          </div>
</div>
</div>

	



<div>
<% if @resume = current_user.resume %>
<%= render 'proceed_to_card' %>
<%end %>
</div>